body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

button {
    background-color: #0984e3;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.nota {
    
    font-weight: bold;
    margin-top: 20px;
}

.perguntas {
    font-size: large;
    margin-bottom: 25px;
    text-align: center;
    background: white;
    padding: 200px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 60%;
    max-width: 800px;
}

.titulo_feedback {
    font-size: xx-large;
    margin-bottom: 25px;
    width: 60%;
    max-width: 800px;
}

#feedback {
    font-size: large;
    margin-bottom: 25px;
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 60%;
    max-width: 800px;
}

.btn-avaliacao {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 35px;
  text-align: center;
  align-content: center;
  border-radius: 10%;
  margin: 3px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-avaliacao input {
  display: none; /* esconder o radio */
}

.btn-vermelho { background: #e74c3c; border: 1px solid black; }
.btn-amarelo { background: #f1c40f; border: 1px solid black;}
.btn-verde   { background: #27ae60; border: 1px solid black;}

.btn-avaliacao:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

button:hover {
    background-color: #74b9ff;
}

footer {    
    position: center;
    bottom: 10px;
    font-size: 12px;
    margin-top: 20px;
    color: #636e72;
    text-align: center;
}